:root {
    --bg-primary: #ffff;
    --title-color: #000000;
    --header-color: #000000cc;
    --text-light: #ccc;
    --hamburguer: #ffffff;
}

/* Desktop */

body {
    background-color: var(--bg-primary);
}

header {
    background-color: var(--header-color);
}

header nav ul li a {
    color: var(--text-light);
}

header nav ul li a svg {
    fill: var(--text-light);
}

.input-buscar[type="text"] {
    color: #fff;
}

.section-team {
    margin: 0 auto;
    max-width: 1080px;
    padding: 0 22px;
    position: relative;
    z-index: 2;
}

.lideranca {
    margin-left: 0;
    margin-top: 10px;
}

.lideranca h1 {
    font-size: 21px;
    color: var(--title-color);
}

.hr {
    margin-top: 10px;
    border: 0;
    border-top: 1px solid #ccc;
}

.perfis {
    padding-top: 53px;
}

.perfis h1 {
    font-size: 32px;
    color: #333333;
    margin-bottom: 33px;
}

.perfis-conteudo {
    margin-left: 22px;
    display: flex;
    flex-wrap: wrap;
}

.perfis-conteudo div {
    margin-right: 18px;
}

.box {
    margin: auto;
    background: rgb(204, 204, 204);
    background: linear-gradient(180deg, rgba(204, 204, 204, 1) 0%, rgba(255, 255, 255, 1) 50%);
    box-shadow: 2px 4px 24px #00000014;
    box-sizing: border-box;
    align-items: center;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.box img {
    width: 215px;
}

.perfis-conteudo a {
    text-decoration: none;
    margin-bottom: 2px;
}

.perfis-conteudo a:hover {
    text-decoration: underline;
}

.perfis-conteudo h3 {
    color: #0070c9;
    font-size: 17px;
}

.perfis-conteudo h4 {
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 28px;
}

.perfis-conteudo a h4:hover {
    text-decoration: none;
}

/* Mobile */

@media (max-width: 768px) {

    .hamburguer svg {
        color: var(--hamburguer);
    }

    .section-team {
        margin-top: 10px;
    }

    .perfis-conteudo {
        margin-left: 0;
        align-items: center;
        justify-content: center;
    }

    .perfis-conteudo div {
        margin-right: 0px;
    }

}