:root {
    --title: #000000;
    --header-color: #000000cc;
    --text-light: #ccc;
    --title-card: #000000;
    --button-title: #ffffff;
    --hamburguer: #ffffff;
}

/* Desktop */

header {
    background-color: var(--header-color);
}

header nav ul li a {
    color: var(--text-light);
}

header nav ul li a svg {
    fill: var(--text-light);
}

.input-buscar[type="text"] {
    color: #fff;
}

/* Seção de Planos */
.nossos-planos {
    padding: 40px 10%;
    text-align: center;
}

.nossos-planos h1 {
    font-size: 54px;
    margin-top: 40px;
    margin-bottom: 68px;
}

.plano-container {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 120px;
    gap: 20px;
}

.plano {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 30px;
    max-width: 300px;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#work {
    background: #B91242;
}

#diamont {
    margin-top: -100px;
    background: #1C2B33;
}

#pro {
    background: #0095C3;
}

.plano h2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
}

.flex-svg {
    align-items: center;
    display: flex;
}

.flex-svg h2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
}

.flex-svg svg {
    margin-bottom: 10px;
    margin-left: 30px;
}

.plano p {
    font-size: 24px;
    margin-bottom: 20px;
}

.plano ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.plano ul li {
    margin: 10px 0;
    font-size: 16px;
}

.plano .sublist {
    margin-left: 20px;
    list-style-type: disc;
}

.plano .sublist li {
    font-size: 14px;
    font-weight: 300;
}

.plano .button-container {
    margin-top: auto;
    /* Força o botão a ir para o final */
    text-align: center;
    /* Centraliza horizontalmente */
}

.plano .medium {
    margin-top: 56%;
}

.plano .max {
    margin-top: 82%;
}

.plano a {
    text-decoration: none;
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.plano a:hover {
    background: #fff;
    color: #000;
}


/* Mobile */

@media (max-width: 768px) {

    .nossos-planos h1 {
        margin-bottom: 0px;
    }

    .hamburguer svg {
        color: var(--hamburguer);
    }

    #diamont {
        margin-top: 0;
    }

}