:root {
    --header-color: rgba(250, 250, 252, .8);
    --header-color-filter: saturate(180%) blur(20px);
    --text-light: #000000;
    --title-primary-color: #1d1d1f;
    --title-second-color: #6e6e73;
    --link: #0066cc;
}

header {
    position: absolute;
    z-index: 9999;
    width: 100%;
    background-color: var(--header-color);
    backdrop-filter: var(--header-color-filter);
}

header nav ul li a {
    color: var(--text-light);
}

header nav ul li a svg {
    fill: var(--text-light);
}

.div-banner {
    overflow: hidden;
}

.div-banner img {
    width: 100%;
}

.produto {
    padding: 40px 19%;
}

.title {
    font-size: 28px;
    color: var(--title-primary-color);
}

.produto span {
    color: var(--title-second-color);
}

.beneficios {
    display: inline-flex;
    padding-bottom: 40px;
    padding-top: 10px;
    vertical-align: top;
    width: 100%;
}

.beneficios a {
    text-decoration: none;
}

.box {
    padding: 1.7647058824rem;
    margin: 0;
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 2px 4px 12px #00000014;
    box-sizing: border-box;
    margin-top: 20px;
    align-items: center;
    height: 16.1176470588rem;
    width: 19.4117647059rem;
    cursor: pointer;
    margin-inline-end: 20px;
    transition: 0.3s;
}

.box:hover {
    transition: 0.3s;
    transform: scale(1.01);
}

.box svg {
    color: #68cc45;
    fill: #68cc45;
}

.box .svg {
    color: #007aff;
    fill: #007aff;
}

.box h2 {
    font-size: 24px;
    color: var(--title-primary-color);
}

.box span {
    color: var(--link);
}

.pop-up {
    align-items: flex-start;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    inset-inline-end: 0;
    inset-inline-start: 0;
    overflow: auto;
    padding: 54px 0;
    position: fixed;
    top: 0;
    z-index: 99999;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    background: #0000007a;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    opacity: 0;
    pointer-events: none;
}

.pop-up:target {
    opacity: 1;
    pointer-events: auto;
}

.pop-up>div {
    min-width: min(48rem, 100vw);
    border-radius: 20px;
    max-width: 816px;
    padding: 0;
    background: #fff;
    margin: auto;
    position: relative;
}

.pop-up>div>div {
    border-radius: 18px;
    margin-top: -64px;
    overflow: hidden;
    padding: 76px;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
}

.close span {
    align-items: center;
    background: #e8e8ed;
    border-radius: 50%;
    color: #6e6e73;
    display: flex;
    height: 36px;
    outline: none;
    position: relative;
    transition: color .1s linear;
    width: 36px;
}

.close svg {
    fill: currentColor;
    height: 20px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 20px;
}

.pop-up h1 {
    font-size: 40px;
    margin-top: 40px;
}

.pop-up p {
    font-size: 17px;
    font-weight: 300;
    margin-top: 17px;
    margin-bottom: 17px;
}

.saiba-mais {
    font-size: 17px;
    font-weight: 300;
    color: var(--link);
}